<form [formGroup]="connectionForm">
    <select-input
        formControlName="db_type"
        label="Database Type"
        [options]="databaseTypeOptions">
    </select-input>

    <text-input
        formControlName="name"
        hideRequiredAsterisk
        label="Connection Name">
    </text-input>

    <text-input
        formControlName="host"
        hideRequiredAsterisk
        label="Host / IP Address">
    </text-input>

    <text-input
        formControlName="port"
        hideRequiredAsterisk
        label="Port"
        type="number"
    >
    </text-input>

    <text-input
        formControlName="database_name"
        hideRequiredAsterisk
        label="Database Name">
    </text-input>

    <text-input
        formControlName="username"
        hideRequiredAsterisk
        label="Username">
    </text-input>

    <text-input
        formControlName="password"
        hideRequiredAsterisk
        label="Password"
        type="password">
    </text-input>
</form>
